@model List<EstadodeCuenta.BL.Tipos>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nombre
            </th>
            <th>
                Cuenta
            </th>
        </tr>
    </thead>
    @foreach (var Tipos in Model)
    {
        <tr>
            <td>@Tipos.Id</td>
            <td>@Tipos.Nombre</td>
            <td>@Tipos.Cuenta</td>
        </tr>
    }
</table>